@import './variables';

.form-page {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

p.h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

p.h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

p.bold {
  font-weight: bold;
}

p.info {
  font-size: 0.85rem;
}

.button {
  display: block;
  padding: 0.8rem 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.6s ease;

  &-primary {
    background: $accent-red;
    color: $light-color;
    font-family: $poppins;

    &:hover {
      background: #be2532;
    }
  }

  &-secondary {
    background: $normal-blue;
    color: $light-color;
    font-family: $poppins;

    &:hover {
      background: #285875;
    }
  }
}

.listing {
  height: 11rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;

  &-image {
    width: 35%;
    height: 100%;
    background: red;
    border-radius: 0.5rem;
  }

  ion-icon[name='heart'] {
    font-size: 1.6rem;
    color: $normal-blue;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
  }
  ion-icon[name='add-circle-outline'] {
    font-size: 1.6rem;
    color: $normal-blue;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    --ionicon-stroke-width: 3rem;
    cursor: pointer;
  }

  &-content {
    height: 100%;
    .title {
      margin-bottom: 0.5rem;
      font-size: 1.1rem;
    }

    .body {
      height: 65%;
      display: flex;
      align-items: stretch;
      justify-content: space-between;
      flex-direction: column;

      .info,
      .price-range {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        font-size: 0.9rem;
      }

      ion-icon {
        margin-right: 0.3rem;
      }
    }
  }
}
