@import '../variables';

#home {
  padding: 0;
}

.header {
  padding: 1rem;
  height: 12rem;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);

  .user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p .user-name {
      color: $normal-blue;
    }

    .profile-pic {
      border: 4px solid $normal-blue;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }
  }

  .search-bar {
    width: 100%;
    position: relative;

    input {
      width: 100%;
      padding: 0.8rem 1rem;
      font-family: $poppins;
      border: none;
      outline: none;
      background: $pale-blue;
      border-radius: 0.5rem;
      opacity: 0.8;
      font-size: 1rem;

      * {
        opacity: 1;
      }
    }

    ion-icon {
      position: absolute;
      top: 0rem;
      right: 0rem;
      padding: 0.6rem 1rem;
      font-size: 1.8rem;
      color: $normal-blue;
    }
  }
}

.main {
  padding: 0 1rem;
  margin: auto;

  .available-listings {
    padding-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.line {
  height: 2px;
  background: $normal-blue;
}

.listings-container {
  padding-block: 1rem;

  .listing {
    &-image {
      width: 35%;
      height: 100%;
      background: url('/dist/images/stock-images/aridolf-wellness.jpg')
        no-repeat center center/cover;
      border-radius: 0.5rem;
    }

    &-content {
      .title {
        margin-bottom: 0.8rem;
      }

      .body {
        height: 70%;
      }
    }
  }
}
