@import './partials/resets';
@import './partials/variables';
@import './partials/utilities';
@import './partials/views/login';
@import './partials/views/signup';

#coming-soon {
  padding: 5rem;
  font-family: $lato;
  text-align: center;
  line-height: 1.5;
}

#app {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  font-family: $poppins;
}

#main {
  height: 100%;
  width: 100%;
  position: relative;
}

.nav {
  width: 100vw;
  height: 3.5rem;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);

  #{&}-links {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    li a ion-icon {
      font-size: 1.7rem;
      color: $normal-blue;
      --ionicon-stroke-width: 2.5rem;
      transition: 0.8s ease-in;

      &:hover {
        color: $normal-blue;
        transition: 0.6s ease-out;
      }
    }
  }
}

@import './partials/media_queries';
