@import './partials/resets';
@import './partials/variables';
@import './partials/utilities';
@import './partials/form';
@import './partials/views/login';
@import './partials/views/signup';
@import './partials/animations';
@import './partials/views/landing-page';
@import './partials/views/home';
@import './partials/views/profile';

#coming-soon {
  padding: 5rem;
  font-family: $lato;
  text-align: center;
  line-height: 1.5;
}

#app {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  font-family: $poppins;
}

#main {
  height: 100%;
  width: 100%;
  position: relative;
  display: none;
}

.nav {
  width: 100vw;
  height: 3.5rem;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  bottom: 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  background: #fff;

  #{&}-links {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    li a ion-icon {
      font-size: 1.7rem;
      color: $normal-blue;
      --ionicon-stroke-width: 2.5rem;
      transition: 0.8s ease-in;

      &:hover {
        color: $normal-blue;
        transition: 0.6s ease-out;
      }
    }
  }
}

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  background: $light-color;
}

.modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 15;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s ease-in;

  &-content {
    background: $light-color;
    border-radius: 0.5rem;
    height: 11rem;
    width: 20rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    transform: translateY(-5rem) scale(0.5);
    transition: 0.5s ease-out;

    .modal-header {
      font-weight: 500;
      font-size: 1.2rem;
    }

    .modal-body {
      margin-top: 1rem;

      .logout-buttons {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 1rem;
        gap: 2rem;

        a {
          font-weight: 500;
        }

        .logout-confirm {
          color: $accent-red;
        }

        .logout-cancel {
          color: $normal-blue;
        }
      }
    }
  }
}

@import './partials/media_queries';
